.default-color0.chart-bubble { -fx-bubble-fill: #ff0000; }
.default-color1.chart-bubble { -fx-bubble-fill: #ff8800; }
.default-color2.chart-bubble { -fx-bubble-fill: #00ff22; }
.default-color3.chart-bubble { -fx-bubble-fill: #002fff; }
.default-color4.chart-bubble { -fx-bubble-fill: #0099ff; }
.default-color5.chart-bubble { -fx-bubble-fill: #ffee00; }
.default-color6.chart-bubble { -fx-bubble-fill: #ff0088; }
.default-color7.chart-bubble { -fx-bubble-fill: #00fdd3; }
.default-color8.chart-bubble { -fx-bubble-fill: #463409; }
.default-color9.chart-bubble { -fx-bubble-fill: #000000; }
.default-color10.chart-bubble { -fx-bubble-fill: #7e7e7e; }
.default-color11.chart-bubble { -fx-bubble-fill: #640000; }
.default-color12.chart-bubble { -fx-bubble-fill: #0b4e11; }
.default-color13.chart-bubble { -fx-bubble-fill: #590064; }
.default-color14.chart-bubble { -fx-bubble-fill: #ff00ea; }
.default-color15.chart-bubble { -fx-bubble-fill: #ff5100; }
.default-color16.chart-bubble { -fx-bubble-fill: #5900ff; }